<script lang="ts">
	import { Accordion } from '@daniel-livingston/components';
</script>

<Accordion>
	<Accordion.Item id="accordion-item-1" label="Fusce aliquam laoreet enim sed tristique?" open>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam diam tellus, id ornare
		ligula dapibus ut. Nulla dui orci, dapibus a nisi sed, elementum bibendum enim. Donec lobortis
		bibendum lobortis. Vivamus aliquet eleifend massa quis vulputate. Ut lectus sapien, pretium vel
		diam vitae, tincidunt hendrerit augue. Etiam pretium dui dignissim risus dapibus, et malesuada
		nisl dapibus. Fusce vulputate erat et tellus sagittis, eu laoreet tortor rutrum. Aliquam quis
		leo lectus.
	</Accordion.Item>
	<Accordion.Item id="accordion-item-2" label="Nullam lorem metus, mollis ut ornare?">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam diam tellus, id ornare
		ligula dapibus ut. Nulla dui orci, dapibus a nisi sed, elementum bibendum enim. Donec lobortis
		bibendum lobortis. Vivamus aliquet eleifend massa quis vulputate. Ut lectus sapien, pretium vel
		diam vitae, tincidunt hendrerit augue. Etiam pretium dui dignissim risus dapibus, et malesuada
		nisl dapibus. Fusce vulputate erat et tellus sagittis, eu laoreet tortor rutrum. Aliquam quis
		leo lectus.
	</Accordion.Item>
	<Accordion.Item id="accordion-item-3" label="Pellentesque et cursus?">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam diam tellus, id ornare
		ligula dapibus ut. Nulla dui orci, dapibus a nisi sed, elementum bibendum enim. Donec lobortis
		bibendum lobortis. Vivamus aliquet eleifend massa quis vulputate. Ut lectus sapien, pretium vel
		diam vitae, tincidunt hendrerit augue. Etiam pretium dui dignissim risus dapibus, et malesuada
		nisl dapibus. Fusce vulputate erat et tellus sagittis, eu laoreet tortor rutrum. Aliquam quis
		leo lectus.
	</Accordion.Item>
</Accordion>
